tenancy_ocid     = "ocid1.tenancy.oc1..replace_me"
compartment_ocid = "ocid1.compartment.oc1..replace_me"
region           = "us-ashburn-1"

# Optional overrides
# name_prefix            = "alh-unified-data"
# workshop_username      = "SEER_WORKSHOP"
# compute_count          = 2
# license_model          = "LICENSE_INCLUDED"
# create_iam_resources   = true
